<form *ngIf="loggedIn">
  <input name="dataInput" id="dataInput" #newData>
  <button (click)="onClickAdd(newData.value)">Send</button>
</form>

<div *ngFor="let data of dataObservable | async as dataList">
  <div class="data-element">
    <label for="{{data.label}}-{{data._id}}">{{data.label}}</label>
    <input type="text" [(ngModel)]="data.content" name="dataContent" id="{{data.label}}-{{data._id}}" (change)="onClickUpdate(data)" [attr.disabled]="loggedIn ? null : ''" />
    <button type="button" (click)="onClickDelete(data)" [attr.disabled]="loggedIn ? null : ''">X</button>
    <input type="checkbox" [checked]="data.public" (change)="data.public = !data.public; onClickUpdate(data);" [attr.disabled]="loggedIn ? null : ''" />
  </div>
</div>
